html {
    font-family: 'LFT Etica', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  }
.body {
    background-color: darkgrey;
    margin:0px;
}

.peoplebox {
    width:350px;
    height:140px;
    border-style: solid;
    border-width:1px;
    border-color:lightgrey;
    padding:5px;
    border-radius: 5px;
}
.statbox {
    width:200px;
    height:100px;
    border-style: solid;
    border-width:1px;
    border-color:darkgray;
    padding:15px;
    font-size: 30px;
    font-weight:bolder;
    float:left;
    text-align: center;
    margin:10px;

}