html {
    font-family: 'LFT Etica', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  }
.body {
    background-color: darkgrey;
    margin:0px;
}

.message {
  width: fit-content;
  background: var(--org-color-warning);
  padding: 10px;
}